<!DOCTYPE html>
<html>
<head>
  <title>Signobject</title>
  <%= stylesheet_link_tag    "signobject/application", media: "all" %>
  <%= javascript_include_tag "signobject/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
